body {
  max-width: 480px;
  margin: auto;
  padding: 30px 0;
}

header, aside, section, article {
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 768px) {
  body {
    max-width: 960px;
  }
}